<div>
    <h2 id="page-heading">
        <span jhiTranslate="avayaBloomAdminApp.blackList.home.title">Black Lists</span>
    </h2>
    <h2 id="page-heading">
        <div class="row">
            <div class="col-md-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" jhiTranslate="avayaBloomAdminApp.blackList.home.searchnumber">Number</span>
                        <input type="text" aria-label="First name" class="form-control create-black-list">
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text" jhiTranslate="avayaBloomAdminApp.blackList.home.applicant">Applicant</span>
                        <input type="text" aria-label="Last name" class="form-control create-black-list">
                    </div>

                    <button id="jh-create-entity" class="btn btn-primary">
                        <fa-icon [icon]="'search'"></fa-icon>
                        <span jhiTranslate="avayaBloomAdminApp.blackList.home.searchLabel">
                            Search
                        </span>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-black-list"
                [routerLink]="['/black-list/import']">
                    <fa-icon [icon]="'file-export'"></fa-icon>
                    <span jhiTranslate="avayaBloomAdminApp.blackList.home.export">
                        export
                    </span>
                </button>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-black-list">
                        <fa-icon [icon]="'file-export'"></fa-icon>
                        <span jhiTranslate="avayaBloomAdminApp.blackList.home.export">
                            import
                        </span>
                    </button>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-black-list"
                    [routerLink]="['/black-list/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span jhiTranslate="avayaBloomAdminApp.blackList.home.createLabel">
                        Create new Black List
                    </span>
                </button>
            </div>
        </div>
    </h2>
    <bloom-alert></bloom-alert>
    <br />
    <div class="table-responsive" *ngIf="blackLists">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="blacknumber"><span jhiTranslate="avayaBloomAdminApp.blackList.blacknumber">Blacknumber</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="numberSource"><span jhiTranslate="avayaBloomAdminApp.blackList.numberSource">Number
                            Source</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="validityPeriod"><span jhiTranslate="avayaBloomAdminApp.blackList.validityPeriod">Validity
                            Period</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="addReason"><span jhiTranslate="avayaBloomAdminApp.blackList.addReason">Add Reason</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="applicant"><span jhiTranslate="avayaBloomAdminApp.blackList.applicant">Applicant</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="createtime"><span jhiTranslate="avayaBloomAdminApp.blackList.createtime">Createtime</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="changetime"><span jhiTranslate="avayaBloomAdminApp.blackList.changetime">Changetime</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blackList of blackLists ;trackBy: trackId">
                    <td><a [routerLink]="['/black-list', blackList.id, 'view' ]">{{blackList.id}}</a></td>
                    <td>{{blackList.blacknumber}}</td>
                    <td jhiTranslate="{{'avayaBloomAdminApp.NumberSource.' + blackList.numberSource}}">{{blackList.numberSource}}</td>
                    <td>{{blackList.validityPeriod}}</td>
                    <td>{{blackList.addReason}}</td>
                    <td>{{blackList.applicant}}</td>
                    <td>{{blackList.createtime}}</td>
                    <td>{{blackList.changetime}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/black-list', blackList.id, 'view' ]" class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/black-list', blackList.id, 'edit']" class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'black-list/'+ blackList.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="blackLists && blackLists.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
